.logo {
    width: 100px;
    height: 100px;
}

#foto1{
    width: 300px;
    height: 300px;
}

#foto2{
    width: 300px;
    height: 300px;
}

#foto3{
    width: 100px;
    height: 300px;
}

.formulario {
    width: 300em;
    height: 200em;
}